body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: beige;
}

.pagacon {
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    margin-top: -50px;
}

.Imagenes_cart{
    width:auto;
    height: 50px;
}

.titulo{
    text-align: center;
    border: 3px solid rgb(0, 162, 255);
    background-color: rgb(0, 162, 255);
}

.control{
    width: auto;
    height: 150px;
}

.television{
    width: auto;
    height: 150px

}


#contenedor_carritofotos{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 10px;
}

.foto_carro {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
  }
  
.Imagen_carro {
    width: auto;
    height: 80px;
  }

.Contenedor_Index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(189, 154, 118);
    background-color: rgb(189, 154, 118);
}

#Item_Index{
    flex: auto;
    padding: 10px;
    border: 1px solid rgb(189, 154, 118);
    background-color: rgb(189, 154, 118);
    font-size: 20px;
}

#Link_Index{
    text-decoration: none;
    text-decoration: rgb(189, 154, 118);
}
  

.total_carrito{
font-size: larger;
}

.boton_pagar {
background-color: rgb(189, 154, 118);
color: black;
padding: 15px 20px;
text-align: center;
display: inline-block;
font-size: 20px;
border-radius: 8px;
cursor: pointer;
border: none;
}

.tucarrito{
right: 15px;
}

hr {
border: none;
    border-top: 3px solid  rgb(189, 154, 118);
    width: 75%;
    margin: 20px auto;
}