.cuerpo_html{
    background-color:beige;
}

.Contenedor_Index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(242, 133, 0);
}

#Item_Index{
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(242, 133, 0);
}

footer{
    background-color: rgb(242, 133, 0);
}

.Imagen_ControlPS5{
    width: 250px;
    height: auto;
}

.Imagen_Carrito{
    width: 20px;
    height: auto;
}