body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color:beige;
}


#menu {
    display: none;
}


#toggleMenu {
    background-color:rgb(242, 133, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}


#producto {
    margin-bottom: 30px;
}

#producto img {
    max-width: 100%;
    height: auto;
}


aside {
    background-color: #f4f4f4;
    padding: 20px;
}

aside h2 {
    margin-top: 0;
}


#producto button {
    background-color: rgb(242, 133, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



@media (max-width: 768px) {
    #menu {
        display: block;
    }
    #toggleMenu {
        display: none;
    }
}

.Televisor{
    width: 150px;
    height: auto;
}

.Contenedor_Index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(0, 162, 255);
    background-color: rgb(0, 162, 255);
}

.Imagen_Index{
    flex: 2;
}

#Item_Index{
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(0, 162, 255);
    background-color: rgb(0, 162, 255);
    font-size: 20px;
}

#Link_Index{
    text-decoration: none;
    text-decoration: rgb(242, 133, 0);
}