/*Header*/

body{
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(255, 253, 208);
    margin: 0;
    padding: 0;
}
  
.Contenedor_Index{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    border: 3px solid rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
}
  
.Imagen_Index{
    order: -1;
}

.Logo_Index{
    height: 150px;
    width: auto;
}

#Item_Index{
    flex: auto;
    padding: 10px;
    border: 1px solid rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
    font-size: 20px;
    text-align: center;
}
  
#Link_Index{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#Titulo_Principal{
    font-size: 50px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.subtitulo{
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
}

/*Footer*/

footer{
    background-color: rgb(255, 145, 0);
}
  
.texto_footer{
    text-align: center;
}

/*General*/

hr{
    border: none;
    border-top: 3px solid  rgb(255, 145, 0);
    width: 75%;
    margin: 20px auto;
}

/*Index*/

.Contenedor_Productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} /*Comparten Index y Category*/
  
.fila{
    display: flex;
    padding: 15px;
    width: 100%;
} /*Comparten Index y Category*/
   
#Contenedor_Items{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    text-align: center;
} /*Comparten Index y Category*/

.Imagen_Electronica{
    width: auto;
    height: 100px;
} /*Comparten Index y Category*/
  
.Imagen_Carrito{
    width: 20px;
    height: auto;
} /*Comparten Index y Category*/

#texto_carrito{
    font-size: 12px;
} /*Comparten Index y Category*/

.titulos{
    text-align: center;
}

/*Category comparte todo el CSS con Index*/

/*Producto*/


#producto {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside {
    background-color: rgb(255, 225, 188);
    padding: 20px;
}


aside h2 {
    margin-top: 0;
}


input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.Televisor{
        width: 350px;
        height: auto;
}

#cantidad{
    width: 200px;
}

/*Cart*/

.control{
    width: auto;
    height: 150px;
}

.television{
    width: auto;
    height: 150px

}

#contenedor_carritofotos{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 10px;
}

.foto_carro {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
}
  
.Imagen_carro {
    width: auto;
    height: 80px;
}

.pagacon {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    justify-content: flex-end; 
}

.Imagenes_cart{
    width:auto;
    height: 50px;
}

.total_carrito{
    font-size: larger;
}

.boton_pagar {
background-color: rgb(189, 154, 118);
color: black;
padding: 15px 20px;
text-align: center;
display: inline-block;
font-size: 20px;
border-radius: 8px;
cursor: pointer;
border: none;
}

.tucarrito{
right: 15px;
}

/*Login*/

/*Recover*/

/*Register*/

/*Responsive breakpoint width 500px*/

/*Header*/
@media (max-width: 500px) {
    .Contenedor_Index {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start;
    }
    .Logo_Index {
        height: 100px;
    }

    .Imagen_Index {
        order: -1;
    }

    #Item_Index {
        width: 100%;
        text-align: right; 
        padding: 5px;
    }

    .titulos {
        font-size: 30px; 
    }

    .subtitulo {
        font-size: 16px; 
    }
    .pagacon {
        margin-top: 10px;
    }
}

/*Producto*/

@media (max-width: 360px){

    .Televisor{
        width: 300px;
        height: auto;
    }
    .television{
        height: 130px;
    }
    .control{
        height: 130px;
    }
}