/*Header*/

body{
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(255, 253, 208);
    margin: 0;
    padding: 0;
}
  
.Contenedor_Index{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    border: 3px solid rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
}

.Imagen_Index{
    order: -1;
}

.Logo_Index{
    height: 150px;
    width: auto;
}

#Item_Index{
    flex: auto;
    padding: 10px;
    border: 1px solid rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
  
#Link_Index{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: font-size 0.25s ease;
}

#Link_Index:hover{
    font-size: 25px;
}

#Titulo_Principal{
    font-size: 50px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.subtitulo{
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
}

/*Footer*/

footer{
    background-color: rgb(255, 145, 0);
    position: sticky;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}
  
.texto_footer{
    text-align: center;
}

/*General*/

hr{
    border: none;
    border-top: 3px solid  rgb(255, 145, 0);
    width: 75%;
    margin: 20px auto;
}

/*Index*/

.Contenedor_Productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} /*Comparten Index y Category*/
  
.fila{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
} /*Comparten Index y Category*/
   
.Contenedor_Items{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    text-align: center;
} /*Comparten Index y Category*/

.Imagen_Electronica{
    width: auto;
    height: 100px;
} /*Comparten Index y Category*/
  
.Imagen_Carrito{
    width: 20px;
    height: auto;
    transition: transform 0.5s ease;
} /*Comparten Index y Category*/

.Imagen_Carrito:hover{
    transform: scale(1.2);
}

#texto_carrito{
    font-size: 12px;
} /*Comparten Index y Category*/

#Detalles_Producto{
    text-decoration: none;
    color: black;
    transition: color 0.25s ease;
}

#Detalles_Producto:hover{
    color: rgb(255, 105, 0);
}

.titulos{
    text-align: center;
}

#links_titulos{
    text-decoration: none;
    color: black;
    transition: font-size 0.25s ease;
}

#links_titulos:hover{
    font-size: 27px;
}

/*Category comparte todo el CSS con Index*/

/*Producto*/

<<<<<<< HEAD
#menu {
    display: none;
}

#toggleMenu {
    background-color:rgb(242, 133, 0);
    color: rgb(255, 253, 208);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}
=======
>>>>>>> 196baee124a8b87e4df6d76838cd35a1448e2385

#producto {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
#producto img {
    max-width: 100%;
    height: auto;
    align-items: center;
}
=======
>>>>>>> 196baee124a8b87e4df6d76838cd35a1448e2385

aside {
    background-color: rgb(255, 225, 188);
    padding: 20px;
}


aside h2 {
    margin-top: 0;
}

<<<<<<< HEAD
#producto button {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 253, 208);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s ease;
}

#producto button:hover{
    background-color: rgb(255, 105, 0);
}
=======
>>>>>>> 196baee124a8b87e4df6d76838cd35a1448e2385

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

<<<<<<< HEAD
@media (max-width: 768px) {
    #menu {
        display: block;
    }
    #toggleMenu {
        display: none;
    }
}

=======
>>>>>>> 196baee124a8b87e4df6d76838cd35a1448e2385
.Televisor{
        width: 350px;
        height: auto;
}

#cantidad{
    width: 200px;
}

/*Cart*/

.control{
    width: auto;
    height: 150px;
}

.television{
    width: auto;
    height: 150px

}

#contenedor_carritofotos{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 10px;
}

.foto_carro {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
}
  
.Imagen_carro {
    width: auto;
    height: 80px;
}

.pagacon {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    justify-content: flex-end; 
}

.Imagenes_cart{
    width:auto;
    height: 50px;
}

.total_carrito{
    font-size: larger;
}

.boton_pagar {
background-color: rgb(189, 154, 118);
color: black;
padding: 15px 20px;
text-align: center;
display: inline-block;
font-size: 20px;
border-radius: 8px;
cursor: pointer;
border: none;
}

.tucarrito{
right: 15px;
}

/*Login*/

.body_login{
    justify-content: center;
    align-items: center;
} /*Comparten Login. Recover y Register*/

.header_login{
    margin-bottom: 50px;
} /*Comparten Login. Recover y Register*/

.home_link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: black;
    border: solid  rgb(255, 145, 0);
    padding: 2px;
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    transition: border-color 0.25s ease;
    transition: background-color 0.25s ease;
} /*Comparten Login. Recover y Register*/

.home_link:hover{
    background-color: rgb(255, 105, 0);
    border-color: rgb(255, 105, 0);
} /*Comparten Login. Recover y Register*/

.login_container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
} /*Comparten Login. Recover y Register*/

.login_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    width: 400px;
} /*Comparten Login. Recover y Register*/

.titulo_login{
    text-align: center;
} /*Comparten Login. Recover y Register*/

.form_group {
    margin-bottom: 20px;
} /*Comparten Login. Recover y Register*/

.login_datos{
    display: block;
    margin-bottom: 5px;
} /*Comparten Login, Recover y Register*/

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login_button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color:rgb(255, 145, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
} /*Comparten Login, Recover y Register*/

.login_button:hover{
    background-color: rgb(255, 105, 0);
} /*Comparten Login, Recover y Register*/

.links_login {
    margin-top: 20px;
    text-align: center;
}

.links_login p {
    margin-bottom: 10px;
}

.links_login a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.25s ease;
}

.links_login a:hover{
    color: blue;
}

/*Recover*/

<<<<<<< HEAD
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.instructions {
    text-align: center;
    margin-bottom: 20px;
}

.links_recover {
    margin-top: 20px;
    text-align: center;
}

.links_recover p {
    margin-bottom: 10px;
}

.links_recover a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.25s ease;
}

.links_recover a:hover{
    color: blue;
}

/*Register*/

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.links_register {
    margin-top: 20px;
    text-align: center;
}

.links_register p {
    margin-bottom: 10px;
}

.links_register a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.25s ease;
}

.links_register a:hover{
    color: blue;
=======
/*Register*/

/*Responsive breakpoint width 500px*/

/*Header*/
@media screen and (max-width: 500px) {
    .Contenedor_Index {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start;
    }
    .Logo_Index {
        height: 100px;
    }

    .Imagen_Index {
        order: -1;
    }

    #Item_Index {
        width: 100%;
        text-align: right; 
        padding: 5px;
    }

    .titulos {
        font-size: 30px; 
    }

    .subtitulo {
        font-size: 16px; 
    }
    .pagacon {
        margin-top: 10px;
    }
}

/*Producto*/

@media screen and (max-width: 320px){

    .Televisor{
        width: 300px;
        height: auto;
    }
    .television{
        height: 130px;
    }
    .control{
        height: 130px;
    }
>>>>>>> 196baee124a8b87e4df6d76838cd35a1448e2385
}